<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ADVENT BAND NOTIFICATIONS - YOUR OTP</title>
</head>

<body>
  <p>Hi {{name}}</p>
  <p>Find bellow your otp.</p>
  <p>
    <b>OTP : {{otp}}</b>
    <br>
  <p>Incase you experience any challenges loggin in, kindly reach out to app@</p>
  <br />
  <p>Best,<br>Tech Support<br>Advent Band</p>
</body>

</html>